#container{
	width: 411px;
	height: 305px;
	margin: 5% 35% 0% 35%;
}


#board{
	background-color: white;
}

#scoreBoxBox{
	width: 20%;
	height: 30%;
	background-color:black;
}

.scoreBox{
	position: absolute;
	color: #FFFDF4;
}

#oScoreBox{
	margin:10% 0% 0% 85%;
	width: 120px;
	height: 120px;
	font-size: 120px;

}

#oScore{
	margin: .5% 0% 0% 85%;
	color: #FFFDF4;
}

#xScoreBox{
	margin: 10% 0% 0% 75%;
	width: 120px;
	height: 120px;
	font-size: 120px;
}

#xScore{
	margin: .5% 0% 0% 75%;
	color: #FFFDF4;
}


.score{
	font-size: 120px;
	text-decoration: underline;
	position:absolute;
	color: #E8DDCB;
}

.tile:hover{
	/*a blue color*/
	/*background-color:#263374;*/
	/*greenish color*/
	/*background-color: #036564;*/
	border-radius:50%;
}


#circle{
	position: absolute;
	width:670px;
	height:670px;
	border:3px dashed #E8DDCB;
	border-radius: 50%;
	margin: -5px 0px 0px 50px;
	opacity: .9;

}
body{

	/*background-color: #0D0106;*/
	/*/kind of a purple color*/
	/*background-color: #240B36;*/
	/*background-color: #031634;*/
/*	background-image: url("images/pier.JPG");
	background-size: cover;*/

}

#backBoard{
	width: 475px;
	height: 475px;
	z-index: -1;
	margin: -15px 0px 0px 50px;
	/*background-color: #5A50C9;*/
	/*background-color: #912F56;*/
	/*a red color*/
	/*background-color: #A4031F;*/
	background-color: #033649;
	border-radius: 2%;
	opacity: .8;
}

.tile{
	width: 130px;
	height: 130px;
	font-size: 100px;
	/*background-color: #FF331F;*/
	background-color: red;
	z-index: 2;
	border: 1px #E8DDCB solid;

	color:#E8DDCB;
	opacity: .6;
	border: 1px solid black;
	display: inline-block;


}
#board{
	
	width: 453px;
	height: 450px; 
	margin: 50px 0px 0px 100px;
	z-index: 1;
	/*opacity: .4;*/

}
#row1{
	margin:50px 0px 0px 70px;
}
#row2{
	margin: 55px 50px 0px 55px;
}
#row3{
	margin: 60px 0px 0px 55px;
}